################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReporteTributario/.vs/ReporteTributario/FileContentIndex/b4802efc-25ce-45fa-9032-3cbb11f11b55.vsidx
